{% extends 'core/baseTemplate.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'core/css/validaciones.css' %}" >
<script src="{% static 'core/js/formulario-contacto.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="d-flex flex-column align-items-center">
  <div class="row">
    <h1>Proveedor</h1>
  </div>
  <div class="col-8">
    <form id="formulario" action="{% url 'guardar-proveedor' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form|crispy }}
      </div>
      <div class="d-flex flex-row justify-content-arround">
        <div class="col-6">
          <input type="submit" class="btn btn-success" id="enviar" value="Guardar">
          <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">

        </div>
        <div class="col-6 d-flex justify-content-end">
          <a href="{% url 'proveedor' %}" class="btn btn-warning" >Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% if messages %}
  {% for m in messages %}
  <script>
    Swal.fire({
      "title":"Felicitaciones",
      "text":"{{m}}",
      "icon":"success"
    })
  </script>
  {% endfor %}
{% endif %}
{% endblock %}
