{% extends 'core/baseTemplate.html' %}

{% load static %}

{% block titulo %}
<link rel="stylesheet" href="{% static 'core/css/validaciones.css' %}" >
<link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
<link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
<script src="{% static 'core/js/validador.js' %}"></script>

{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-12">
    <h2>Login</h2>

    <form  action="login-exitoso.html" method="post" onSubmit="return validar();" id="formulario-login" >
      <div class="container-12 text-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
          Usuario
          <label class="alerta" for="usuario">
            <span class="alert alert-danger" role="alert"></span>
          </label>
          <input class="col-6" type="text" id="usuario"  name="usuario" placeholder="Usuario"  autocomplete="off" >
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
          Password
          <label  class="alerta" for="pass">
            <span class="alert alert-danger" role="alert"></span>
          </label>
          <input class="col-6" type="password" id="pass" name="pass" placeholder="password">
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <br>
          <input class="btn btn-primary col-6" type="submit"  value="Inicio">
          <br>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
